# Python & Virtual Environments
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
